{% extends 'base.html' %}

{% block header %}
<br>
<h1 align='center'>{% block title %}Carrito de compras{% endblock %}</h1>
{% endblock %}

{% block content %}

<div class="container" style="background-color: azure;">
    <div class="row">
        <div class="col-sm-12">
            <div>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <ul class=flashes>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}
            </div>
            {% if 'cart_item' in session %}
            <br>
            <!--<p><a id="btnEmpty" href="{{ url_for('main.empty_cart') }}" class="btn btn-danger">Vaciar carro</a></p>-->
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th class="text-center">Precio unitario</th>
                        <th class="text-center">Precio Total</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    {% for key, val in session['cart_item'].items() %}
                    {% set cantidad = session['cart_item'][key]['cantidad'] %}
                    {% set valor = session['cart_item'][key]['valor'] %}
                    {% set item_price = session['cart_item'][key]['total_price'] %}
                    <tr>
                        <!--Nombre del item + otras cosas-->
                        <td class="col-sm-8 col-md-6">
                            <div class="media">
                                <div class="media-body">
                                    <h4 class="media-heading"> <a>{{ session['cart_item'][key]['nombre'] }}</a>
                                    </h4>
                                    <h5 class="media-heading"> <a></a>
                                    </h5>
                                    <span>Status: </span><span class="text-success"><strong>En Stock</strong></span>
                                </div>
                            </div>
                        </td>
                        <!--Cantidad del producto + otras cosas-->
                        <td class="col-sm-1 col-md-1" style="text-align: center">
                            <input type="email" class="form-control" value="{{ cantidad }}">
                        </td>
                        <td class="col-sm-1 col-md-1 text-center"><strong>${{ valor }} </strong></td>
                        <td class="col-sm-1 col-md-1 text-center"><strong>${{ item_price }} </strong></td>
                        <td class="col-sm-1 col-md-1">
                            <a href="{{ url_for('main.delete_product', code=session['cart_item'][key]['id_instrumento']) }}"
                                class="btn btn-danger">
                                <span class="glyphicon glyphicon-remove"></span> Eliminar
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="4">
                            <h5>Cantidad total</h5>
                        </td>
                        <td class="text-right">
                            <h5><strong>{{ session['total_cantidad'] }}</strong></h5>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <h3>Total</h3>
                        </td>
                        <td colspan="2" class="text-right">
                            <h3><strong>$ {{ session['valor_total'] }}</strong></h3>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <button type="button" class="btn btn-default">
                                <span class="glyphicon glyphicon-shopping-cart"></span> Continuar comprando
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-success">
                                Pagar <span class="glyphicon glyphicon-play"></span>
                            </button></td>
                    </tr>
                </tbody>
            </table>
            {% else: %}
            <div class="container" align="center">
                <div class="no-records">Tu carro esta vacio</div>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}